@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Pacifico&display=swap');

:root{
    --background-color-nav:#2F3E34;
    --font-color-text:#FAF8F5;
    --background-color-body:#d6d3ce;
}

.architecturePage, .interiorPage{
    display:flex;
    flex-direction: column;
}

.arch-navbar{
    width: 100%;
    height: 40px;
    background-color: var(--background-color-nav);
    display: flex;
    align-items: center;

    button{
        margin-left:1.5em;
        cursor: pointer;
    }
}


.arch-hero-section-interior{
    border:1px solid black;
    height: 300px;
    width: 100%;
    background-image: url("/src/assets/images/InteriorPage/stefan-lehner-iZ5LgrUBx60-unsplash.jpg");
    background-size: cover;
    background-position-y:-255px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    animation: swoopdown 2s ease-in;
}

.arch-heading{
    font-family: "Inter",sans-serif,system-ui;
    font-size:48px;
    font-weight: 900;
    color:var(--font-color-text);
    letter-spacing: 5%;
    line-height: 50px;
    font-style: italic;
    text-shadow: 5px 5px black;
}

.arch-description{
    font-family: "Inter",sans-serif,system-ui;
    color:var(--font-color-text);
    font-size:30px;
    text-shadow: 2px 2px black;
}

.arch-main{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.content-container{
    display:flex;
    width:95%;
    height:417px;
    justify-content: center;
    align-items: center;
    gap:0 4em;
    text-align: center;
    margin-top:1em;
    animation: swoopright 2s linear;

    img{
        width:656px;
        height: 400px;
        object-fit: cover;
    }
}

@keyframes swoopright {
   from{
    transform: translateX(-100vw);
   }to{
    transform: translateX(0vw);
   }
}

@keyframes swoopdown{
   from{
    transform: translateY(-100vh);
   }to{
    transform: translateY(0vh);
   }
}