@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Pacifico&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root{
    --background-color-nav:#2F3E34;
    --font-color-text:#FAF8F5;
    --background-color-body:#D6D3CE;
    --font-color-head-text:#1F1F1F;
}

.about-page{
    display:flex;
    margin-top:1em;
    color:var(--background-color-body)
}

.aboutpage-left, .aboutpage-right{
    display:flex;
    flex-direction: column;
    background-color: var(--background-color-nav);

    img{
        width: 300px;
        height: 330px;
        object-fit: cover;
    }
}

.aboutpage-main{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 5px;
    background-color: var(--background-color-nav);
}

.about-title{
    text-align: center;
    margin-top:14px;
}

.about-description{
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size:36px;
    letter-spacing: 5%;
    line-height: 70px;
    padding:1em;
}
